@import url("main.css");

.about_me_body {
    margin: auto;
}

.section_title {
    font-weight: bold;
    color: #04AA6D;
    padding-left: 30px;
    padding-top: 10px;
}

.divider_1 {
    margin-top: -18px;
    border-top: #292929 solid;
    max-width: 1075px;
  }

p {
    font-size: 18px;
    line-height: 160%;
    color: white;
    margin-top: 8px;
    padding-left: 30px;
    max-width: 1060px;
}

.early_work {
    font-weight: bold;
    color: #04AA6D;
    padding-left: 30px;
    padding-top: 25px;
}

.recent_education {
    font-weight: bold;
    color: #04AA6D;
    padding-left: 30px;
    padding-top: 25px;
}

.future {
    font-weight: bold;
    color: #04AA6D;
    padding-left: 30px;
    padding-top: 25px;
}

.spacer {
    padding-top: 25px;
    padding-bottom: 25px;
}
