@import url("main.css");

.section_title {
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

.m-heading {
    animation-name: fadeInUp;
  }
  
  .m-heading.is-exiting {
      animation-direction: alternate-reverse;
  }