@import url("main.css");

.section_title {
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

.section_heading {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInUp;
  }
  
  .section_heading.is-exiting {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
  }