html * {
    font-family: Arial, Helvetica, sans-serif;
}

/* Set background color of page */
body {
    background-color: black;
}

h1 {
    color: #04AA6D;
    font-size: 48px;
    padding: 0px;
    margin-left: 24px;
}

/* Add a black background color to the top navigation */
.navbar {
    margin-top: -15px;
    overflow: hidden;
    border-bottom: solid #292929;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 32px 10px;
    text-decoration: none;
    font-size: 24px;
    border-top: solid #292929;
    border-width:fit-content;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-decoration: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Add a color to the active/current link */
  .navbar .active  a {
    background-color: #2e2e2e;
    color:#04AA6D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 32px 10px;
    background-color: inherit;
    border-top: solid #292929;
    border-width:fit-content;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a green background color to navbar links on hover */
  .navbar a:hover {
    background-color: #04AA6D;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .dropdown:hover .dropbtn {
    background-color: #04AA6D;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #999999;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    max-width: 268px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    word-wrap: break-word;
    white-space: normal;
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-emphasis-style: bold;
    font-weight: bold;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
 
  #main .scene_element--fadeIn {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  #main .scene_element--fadeInDown {
    animation-name: fadeInDown;
    transition-timing-function: ease-in;
    animation-duration:0.25s;
  }
  
  #main .scene_element--fadeInUp {
    animation-name: fadeInUp;
    transition-timing-function: ease-in;
    animation-duration:0.25s;
  }
  
  #main .scene_element--fadeInRight {
    animation-name: fadeInRight;
    transition-timing-function: ease-in;
    animation-duration: 0.25s;
  }
  
  #main .scene_element--fadeInLeft {
    animation-name: fadeInLeft;
    transition-timing-function: ease-in;
    animation-duration:0.25s;
  }
  
  #main .scene_element.is-exiting {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
  }




