@import url("main.css");

.resume_body {
    color: #ffffff;
    max-width: 1050px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 150px;
    margin: auto;
    font-weight: normal;
}

.section_title {
    font-size: 28px;
    padding-top: 0px;
    color: #04AA6D;
}

#rule1 {
    margin-top: -15px;
    margin-right: 15px;
    margin-bottom: -10px;
}

#school {
    font-size: 22px;
    font-weight: bold;
}

#major_header  {
    margin-top: -10px;
}

#major {
    margin-top: -8px;
    float: left;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
}

#grad_date {
    margin-top: -8px;
    float: right;
    margin-right: 0px;
    font-size: 18px;
    font-weight: normal;
    padding-right: 15px;
}

#gpa {
    clear: both;
    font-size: 18px;
    font-weight: normal;
}

#coursework_head {
    font-size: 18px;
    margin-top: -10px;
    float: left;
}

#coursework {
    float: left;
    margin-top: 3px;
    margin-bottom: 40px;
    font-size: 16px;
}

#work_title {
    font-size: 28px;
    color: #04AA6D;
}

#ea {
    font-size: 22px;
    margin-bottom: 0px;
}

.job_title {
    float: left;
    font-size: 18px;
    font-style: italic;
    padding-top: 5px;
}

.job_date {
    float: right;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 15px;
}

.job_desc {
    clear: both;
    color: white;
    list-style-type: disc;
    font-size: 16px;
    padding-top: 5px;
    margin-left: -20px;
}

#skill_list_1 {
    float: left;
    margin-left: -20px;
}

#skill_list_2 {
    float: left;
    margin-left: 20px;
}

#skill_list_3 {
    float: left;
    margin-left: 20px;
}

#familiar_with {
    clear: both;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: -15px;
}

#familiar_skills_1 {
    float: left;
}

.familiar_skills_2 {
    float: left;
    margin-left: 20px;
}

.m-resume {
    animation-name: fadeInUp;
  }
  
  .m-resume.is-exiting {
      animation-direction: alternate-reverse;
  }
